nav {
    background-color: darkslategray;
    padding: 20px;
    margin-bottom: 30px;
}
nav a {
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
    color: antiquewhite;
    font-weight: 700;
    /* text-transform: uppercase; */
}